# Store text files with LF line endings in Git and in checked-out working trees.
* text=auto eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.yml text eol=lf
Dockerfile text eol=lf
*.sh text eol=lf

